<div class='container'>
  {{custom-html "top"}}
  {{global-notice}}
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class='list-controls'>
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{loading-spinner condition=loading}}


<div {{bind-attr class=":container :list-container Discourse.SiteSettings.active:with-sidebar loading:hidden"}}>
  <div class="row">
    <div class="full-width">
      <div id='header-list-area'>
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>
{{#if Discourse.SiteSettings.active}}
  <div class='sidebar'>
    {{{Discourse.SiteSettings.sidebar_content}}}
  </div>
{{/if}}
